:root{
    overflow:hidden;
    background-color:lightblue;
    display:flex;
    justify-content:center;
    animation:10s linear 0s infinite alternate root;
}
.sun{
    background-color:yellow;
    border-radius:50%;
    height:50vh;
    aspect-ratio:1/1;
    animation:10s linear 0s infinite alternate sun;
}
@keyframes sun{
    from{
        /*sunset*/
        transform:translateY(110vh);
        background-color: orange;
    }   
    to{
        /*sunrise*/
        transform:translateY(0);
    }   
}
@keyframes root{
    from{
        /*sunset background*/
        background-color: black;;
    }
}